<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/image" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Image Title</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label>Image Description</label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" name="image" class="form-control-file" id="inputGroupFile01">
                        </div>
                    </div>
                    <button class="btn btn-dark active">Upload Photo</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Operations</th>
            </thead>
            <tbody>
                {{#each photos}}

                <tr>
                    <td><img src="{{url}}" class="img-thumbnail" width="50" height="50"></td>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>
                        <a href="{{url}}" target="_blank" class="btn btn-primary active">View</a>
                        <a href="/image/{{_id}}" class="btn btn-danger active">Delete</a>
                    </td>
                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>